In [2]:
# import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [22]:
# the previous hot songs
hot_songs = pd.read_csv(r"C:\Users\priya\Documents\IRONHACK\Week_6\Day_1\Morning\lab-web-scraping-single-page\hot_songs.csv")
hot_songs

,Unnamed: 0,rank,song_title,artist
0,0,1,Lovin On Me,Jack Harlow
1,1,2,Cruel Summer,Taylor Swift
2,2,3,Greedy,Tate McRae
3,3,4,Paint The Town Red,Doja Cat
4,4,5,I Remember Everything,Zach Bryan Featuring Kacey Musgraves
...,...,...,...,...
95,95,96,Tourniquet,Zach Bryan
96,96,97,Y Lloro,Junior H
97,97,98,Murder On The Dancefloor,Sophie Ellis-Bextor
98,98,99,Amargura,Karol G
99,99,100,Wildflowers And Wild Horses,Lainey Wilson

In [23]:
hot_songs = hot_songs.drop('Unnamed: 0', axis=1)

In [24]:
hot_songs

    rank                   song_title                                artist
0      1                  Lovin On Me                           Jack Harlow
1      2                 Cruel Summer                          Taylor Swift
2      3                       Greedy                            Tate McRae
3      4           Paint The Town Red                              Doja Cat
4      5        I Remember Everything  Zach Bryan Featuring Kacey Musgraves
..   ...                          ...                                   ...
95    96                   Tourniquet                            Zach Bryan
96    97                      Y Lloro                              Junior H
97    98     Murder On The Dancefloor                   Sophie Ellis-Bextor
98    99                     Amargura                               Karol G
99   100  Wildflowers And Wild Horses                         Lainey Wilson

[100 rows x 3 columns]

In [25]:
hot_songs = hot_songs.rename(columns={'song_title': 'song_title'})
hot_songs

    rank                   song_title                                artist
0      1                  Lovin On Me                           Jack Harlow
1      2                 Cruel Summer                          Taylor Swift
2      3                       Greedy                            Tate McRae
3      4           Paint The Town Red                              Doja Cat
4      5        I Remember Everything  Zach Bryan Featuring Kacey Musgraves
..   ...                          ...                                   ...
95    96                   Tourniquet                            Zach Bryan
96    97                      Y Lloro                              Junior H
97    98     Murder On The Dancefloor                   Sophie Ellis-Bextor
98    99                     Amargura                               Karol G
99   100  Wildflowers And Wild Horses                         Lainey Wilson

[100 rows x 3 columns]

In [31]:
hot_songs.to_csv('hot_songs.csv')

In [32]:
# New dataset not_hot_songs

not_hot_songs = pd.read_csv(r"C:\Users\priya\Documents\IRONHACK\Week_6\Day_1\Afternoon\lab-not-hot-songs\songs.csv")
not_hot_songs

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Jonas Brothers,Sucker,181026,False,2019,79,0.842,0.734,1,-5.065,0,0.0588,0.0427,0.000000,0.1060,0.952,137.958,pop
1996,Taylor Swift,Cruel Summer,178426,False,2019,78,0.552,0.702,9,-5.707,1,0.1570,0.1170,0.000021,0.1050,0.564,169.994,pop
1997,Blanco Brown,The Git Up,200593,False,2019,69,0.847,0.678,9,-8.635,1,0.1090,0.0669,0.000000,0.2740,0.811,97.984,"hip hop, country"
1998,Sam Smith,Dancing With A Stranger (with Normani),171029,False,2019,75,0.741,0.520,8,-7.513,1,0.0656,0.4500,0.000002,0.2220,0.347,102.998,pop
1999,Post Malone,Circles,215280,False,2019,85,0.695,0.762,0,-3.497,1,0.0395,0.1920,0.002440,0.0863,0.553,120.042,hip hop

In [28]:
not_hot_songs.columns

Index(['artist', 'song', 'duration_ms', 'explicit', 'year', 'popularity',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'genre'],
      dtype='object')

In [29]:
not_hot_songs = not_hot_songs.drop(columns= ['duration_ms', 'explicit', 'year', 'popularity', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'genre'])

In [30]:
not_hot_songs

              artist                                    song
0     Britney Spears                  Oops!...I Did It Again
1          blink-182                    All The Small Things
2         Faith Hill                                 Breathe
3           Bon Jovi                            It's My Life
4             *NSYNC                             Bye Bye Bye
...              ...                                     ...
1995  Jonas Brothers                                  Sucker
1996    Taylor Swift                            Cruel Summer
1997    Blanco Brown                              The Git Up
1998       Sam Smith  Dancing With A Stranger (with Normani)
1999     Post Malone                                 Circles

[2000 rows x 2 columns]

In [13]:
not_hot_songs = not_hot_songs.rename(columns={'song': 'song_title'})
not_hot_songs

              artist                              song_title
0     Britney Spears                  Oops!...I Did It Again
1          blink-182                    All The Small Things
2         Faith Hill                                 Breathe
3           Bon Jovi                            It's My Life
4             *NSYNC                             Bye Bye Bye
...              ...                                     ...
1995  Jonas Brothers                                  Sucker
1996    Taylor Swift                            Cruel Summer
1997    Blanco Brown                              The Git Up
1998       Sam Smith  Dancing With A Stranger (with Normani)
1999     Post Malone                                 Circles

[2000 rows x 2 columns]

In [14]:
# remove duplicates
not_hot_songs = not_hot_songs[~not_hot_songs.isin(hot_songs)].dropna()
not_hot_songs

              artist                              song_title
0     Britney Spears                  Oops!...I Did It Again
1          blink-182                    All The Small Things
2         Faith Hill                                 Breathe
3           Bon Jovi                            It's My Life
4             *NSYNC                             Bye Bye Bye
...              ...                                     ...
1995  Jonas Brothers                                  Sucker
1996    Taylor Swift                            Cruel Summer
1997    Blanco Brown                              The Git Up
1998       Sam Smith  Dancing With A Stranger (with Normani)
1999     Post Malone                                 Circles

[2000 rows x 2 columns]

In [81]:
#Combining the songs in combined_songs
combined_songs = pd.concat([hot_songs, not_hot_songs ])
combined_songs

                                       title          artist
1          Rockin' Around The Christmas Tree      Brenda Lee
2            All I Want For Christmas Is You    Mariah Carey
3                           Jingle Bell Rock     Bobby Helms
4                             Last Christmas           Wham!
5                    A Holly Jolly Christmas       Burl Ives
...                                      ...             ...
1995                                  Sucker  Jonas Brothers
1996                            Cruel Summer    Taylor Swift
1997                              The Git Up    Blanco Brown
1998  Dancing With A Stranger (with Normani)       Sam Smith
1999                                 Circles     Post Malone

[2100 rows x 2 columns]

In [82]:
combined_songs.isna().sum()

title     0
artist    0
dtype: int64

In [33]:
not_hot_songs.to_csv('not_hot_songs.csv')